                    /* ==== BROWSER RESETS  ==== */
* { padding: 0; margin: 0; border: 0; font-weight: normal; font-size: 16px }
                    /* ==== HEADINGS // TIPOGRAFIA ==== */

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 1.3;
    letter-spacing: -1px;
    margin-top: 20px;
    margin-bottom: 32px;
    color: crimson;
    text-align: center;
 }
 
 h2 {
    font-family: serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.3;
    margin-top: 40px;
    margin-bottom: 12px;
    color:green;
    text-align: right;
 }
 
 h3 {
    font-family: serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.3;
    margin-top: 32px;
    margin-bottom: 6px;
 }

                   /* ==== PARAGRAPHS ==== */

p {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 12px;
 }

                 /* ==== PAGE WIDTH // MARGEN EN LA WEB==== */

body {
    padding-left: 20%;
    padding-right: 20%
 }